image: node:latest # (1)

stages:
  - build
  - aws-deploy

cache:
  paths:
    - node_modules/ ## (2)

install_dependencies:
  stage: build
  script:
    - npm install # (3)
  artifacts:
    paths:
      - node_modules/

aws-deploy:
  image: 'python:latest'
  stage: aws-deploy
  before_script:
    - 'pip install awsebcli --upgrade' # (6)
  script:
    - eb deploy BoraApi-env